* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
}

h1 {
  font-size: 50px;
}

.home {
  background-image: url("./imgs/events-heavenly-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.overlay {
  background-color: rgba(214, 46, 51, 0.6);
}

nav {
  width: 20%;
  left: -20%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  nav  {
    width: 24%;
    left: -24%;
  }
}

.show-nav {
  left: 0;
}

.icon {
  right: -30px;
}

nav li a,
nav li i {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
nav li:hover a,
nav li:hover i {
  color: rgba(214, 46, 51, 0.4) !important;
}

.singers h2,
.accordion-button {
  background-color: #e68285;
}

p {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.accordion-button::after {
  width: 0;
  height: 0;
}

.accordion-button:focus {
  border-color: transparent;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: #e68285;
}

.count-down {
  background-image: url("./imgs/invitation-2508607__340.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .icon {
  cursor: pointer;
}

.contact .icon i:hover {
background-color: rgb(192, 50, 50);
color: white !important;
}

